@use 'variables' as *;
.heading {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  justify-content: flex-end;
  align-items: flex-start;
  hgroup {
    min-height: 403px;
    @include font(108);
    div {
      overflow: hidden;
    }
  }
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__details {
    min-height: 395.2px;
    margin-bottom: 64px;
    display: block;
    font-weight: $regular;
    line-height: 1;
    @include font(72);
    & > span {
      display: block;
    }
  }
  &__goal {
    @include font(36);
  }
  &__bottom {
    @include font(24);
    color: $on-surface-70;
  }
}
