@use 'variables' as *;
.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  hgroup {
    padding-bottom: 16px;
  }
  h1 {
    @include font(108);
  }
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__details {
    margin-bottom: 64px;
    strong {
      font-weight: $regular;
      line-height: 1;
      @include font(72);
    }
  }
  &__goal {
    @include font(36);
  }
  &__bottom {
    @include font(24);
    color: $on-surface-70;
  }
}
