@use 'variables' as *;
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-inner {
  max-width: $content-mw;
  height: 9.6rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $surface;
  nav {
    display: flex;
    column-gap: 32px;
  }
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  &__underline {
    transition: transform 0.3s, opacity 0.1s;
    opacity: 0;
    width: 2px;
    height: 2px;
    background-color: $primary;
  }
  a {
    @include font(16);
    font-weight: $regular;
  }
  &--active {
    .link__underline {
      opacity: 1;
      transform: scaleX(12.5);
    }
  }

  &:hover {
    .link__underline {
      opacity: 1;
    }
  }
}
