@use 'variables' as *;

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100vw;
}

.iphone-motion {
  position: absolute;
  right: 10px;
  aspect-ratio: 1;
  z-index: -10;
}
#frame-counter {
  position: absolute;
  top: 94px;
  right: 64px;
  color: $primary;
}

.laptop-motion {
  position: absolute;
  left: calc((100vw - #{$content-mw}) / 2);
  z-index: -10;
  height: 87%;
  background-color: transparent;
  transform: translate(-15%, 15%);
  @media only screen and (max-width: 640px) {
    height: 250px;
    bottom: unset;
    left: unset;
    top: 40px;
    right: calc((100vw - #{$content-mw}) / 2);
  }
}
