@use 'variables' as *;
.iphone-motion {
  position: absolute;
  right: 0;
  z-index: -10;
  height: 100%;
}

.laptop-motion {
  position: absolute;
  left: calc((100vw - #{$content-mw}) / 2);
  bottom: 5vh;
  z-index: -10;
  height: 87%;
  background-color: transparent;
  transform: translate(-15%, 15%);

}
