@use 'variables' as *;
.iphone-motion {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 90%;
  aspect-ratio: 1;
  border: 1px solid red;
  z-index: -10;
  background-position: center;
  background-size: 100%;
  //background-image: url("");

}

.laptop-motion {
  position: absolute;
  left: calc((100vw - #{$content-mw}) / 2);
  bottom: 5vh;
  z-index: -10;
  height: 87%;
  background-color: transparent;
  transform: translate(-15%, 15%);
}
