body{
}

.main-slider {
  flex-grow: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
  &__slide {
    padding: 80px;
    border: 1px solid yellow;
    height: calc(100% - 1px);
    scroll-snap-align: center;
  }
}
