@use 'variables' as *;
body {
  padding-top: max(9.6rem, 80px);
}

.main-slider {
  flex-grow: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
  &__slide {
    height: 100%;
    scroll-snap-align: center;
    &:not(#principles) {
      padding: 80px 0;
      max-width: $content-mw;
      margin-inline: auto;
    }
  }
  #projects {
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    line-height: 1;
  }
}
