@use 'variables' as *;
.principles {
  display: grid;
  height: 100%;
  position: relative;
  &__hero {
    z-index: -10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__hero-text {
    font-weight: 600;
    line-height: 1;
    display: inline;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(2, 1, 2, 0) 32.68%, rgba(2, 1, 2, 0.5) 80%) no-repeat,
      linear-gradient(180deg, #e3fd52 0%, #e3fd52 100%) no-repeat;
    -webkit-text-stroke: 1.5px #ffffff80;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include font(192);
  }
}

.principles-slider {
  display: flex;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  &__slide {
    flex-shrink: 0;
    height: 100%;
    &:first-of-type,
    &:last-of-type {
      width: 100vw;
    }
  }
}
.principles-grid {
  display: grid;
  place-content: center;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(3, 620px);
  grid-gap: 48px;
  overflow: hidden;
}
.principle-card {
  background: $surface-container;
  border-radius: 6rem;
  place-content: center;
  padding: 4.8rem;

  h3 {
    @include fontRem(6.4);
    margin-bottom: 3.2rem;
  }
  p {
    @include fontRem(2.4);
    line-height: 120%;
  }

  &:nth-child(1) {
    align-self: flex-end;
  }

  &:nth-child(2) {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: flex-start;
  }
  &:nth-child(3) {
    align-self: flex-end;
    grid-column: 3/4;
  }
}
