html {
  background: linear-gradient(0deg, #0c0b0c 0%, #0c0b0c 100%), #020102;
  height: 100%;
  color: white;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
