.slider-wrapper {
  display: grid;
  height: 100%;
}
.slider {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  &__slide {
    border: 1px solid yellow;
    height: calc(100% - 1px);
    scroll-snap-align: center;
    //margin-bottom: 12px;

    &--horizontal {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }

  }
}

.iphone {
  position: fixed;
  height: 90vh;
  width: 100vw;
  left: 0;
  top: 10vh;
}
